/* Establish base for page content */

* {
  box-sizing: border-box; /* So that sizing doesn't freak out */
  margin: 0;
  padding: 0;
}

/* Style rest of page */

body {
  font-family: "Trebuchet MS";
  background-color: aliceblue;
  padding-top: 2rem;
}

header {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  gap: 2rem;
}

#to-do-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

#to-do-list {
  list-style: none;
}

.to-do-item {
  display: flex;
  align-items: center;
}

.to-do-checkbox {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.to-do-checkbox:checked + span {
  text-decoration: line-through;
  color: gray;
}
